.wrapper {
    padding-inline: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 20px;
    min-height: 100vh;
}

.wrapperLoading {
    padding-inline: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 20px;
    min-height: 100vh;
}